
/.probe
/.vscode
/config/tacz
/crash-reports
/emotes
hotbar.nbt
/kubejs/config
kubejs/README.txt
local/kubejs/dev.properties
/logs
/mods
minecraftinstance.json
options.txt
rhino.local.properties
/saves
/screenshots
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
usercache.json
servers.dat_old
servers.dat
usernamecache.json
.curseclient
config/MouseTweaks.cfg
makelist.bat
config/itemphysiclite-client.json
